@import "tailwindcss";

@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@theme {
  --animate-reveal: reveal 0.6s ease-out forwards;
}
